
  .btn-purple{
  background-color: blueviolet;
  }
 
 ul{
   list-style: none;
 }

.nav-img{
  height: 4.2rem;
  width:8rem
}

/* .upload{
  padding-right:20rem;
} */


.card{
  border-radius: 1rem;
  border: 2px solid lightgrey;
 
}